.error-content {
    padding: 3rem 1rem;
}

.error-content i {
    color: var(--accent-color);
}

.error-content h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.error-content h2 {
    color: var(--accent-color);
    font-size: 2rem;
}

.error-content .buttons {
    margin-top: 2rem;
}

.error-content .btn {
    padding: 0.75rem 2rem;
    font-size: 1.1rem;
}

.error-content .btn i {
    margin-right: 0.5rem;
}